/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    color: white;  
    font-family: 'Raleway', serif;
    font-size: 35px; 
    font-weight: 600; 
    margin: 0 0 10px 0;
}  
     
.hlavicka {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/island-hlavicka.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.perex {
    margin: 0 0 30px 0;
    color: white;
}

.autor {
    margin: 0 0 10px 0;
    font-style: italic;
    color: lightgrey;
    position: relative;
}

.titulek,
.perex,
.autor {
    padding: 0;
    text-align: center;
}

.autor::before {
    position: absolute;
    content: "";
    left: 43%;
    top: -10px;
    width: 13%;
    border: 1px solid lightgrey;
}

/* MENU */

menu ul {
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: block;
    border-bottom: solid #f0eeee 1px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;    
}
.menu a {
    color: lightgrey;
    text-decoration: none;
}
.menu a:hover {
    color: darkgrey;
}

.menu {
    padding: 30px;
    font-family: sans-serif;
  }


/* OBSAH */

p { 
    padding: 0px 30px;
}
 
img {
display: block;
width: 100%;
height: auto;
}


/* FOTOGALERIE */




/* PATICKA */
